<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        
        <title>Auto Grade - Index</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        
        
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        
        <!-- Vendor CSS Files -->
        <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
        <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="static/vendor/venobox/venobox.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/02a9b21a1c.js" crossorigin="anonymous"></script>
        <link href="static/vendor/aos/aos.css" rel="stylesheet">
        
        <!-- Template Main CSS File -->
        <link href="static/css/style.css" rel="stylesheet">
        
        <!-- =======================================================
        * Template Name: Appland - v2.3.1
        * Template URL: https://bootstrapmade.com/free-bootstrap-app-landing-page-template/
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
    </head>

    <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top  header-transparent ">
    <div class="container d-flex align-items-center">

    <div class="logo mr-auto">
    <h1 class="text-light"><a href="/">Auto Grade</a></h1>
    </div>

    <nav class="nav-menu d-none d-lg-block">
    <ul>
        <li class="active"><a href="/">Home</a></li>
    </ul>
    </nav>
    </div>
    </header>

    <section id="hero" class="d-flex align-items-center">

        <div class="container">
          <div class="row">
            <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
              <div>
                <h1>Auto Grade</h1>
                <h2>Lorem ipsum dolor sit amet, tota senserit percipitur ius ut, usu et fastidii forensibus voluptatibus. His ei nihil feugait</h2>
              </div>
              <div class="uploader">
                  <form action="">
                    <label for="">Upload your answer sheet</label>
                    <label for="file-upload" class="custom-file-upload">
                        <i class="fa fa-cloud-upload"></i>Upload
                    </label>
                    <input id="file-upload" type="file"/><br>
                    <label for="">Upload  your grades sheet </label>
                    <label for="file-upload" class="custom-file-upload">
                        <i class="fa fa-cloud-upload"></i>Upload
                    </label>
                    <input id="file-upload" type="file"/><br>
                    <button type="submit" class="submit-button">Submit</button>
                  </form>
              </div>
            </div>
            <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
              <img src="static/img/features.svg" class="img-fluid" alt="home-page-image">
            </div>
          </div>
        </div>
    
      </section>
      <footer id="footer">
        <div class="container py-3 copyright">
          Made With <i class="far fa-heart"></i>
        </div>
      </footer>

      <!-- Vendor JS Files -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/vendor/venobox/venobox.min.js"></script>
  <script src="static/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>
      

</html>